.estrela-favorito {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.icone-estrela {
  width: 48px;
  height: 48px;
}

.btn-remover {
  background-color: #c0392b;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  margin-top: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-remover:hover {
  background-color: #c0392b;
}

.receita-card img {
  height: 200px;        /* ou outro valor como 180px */
  width: 100%;
  object-fit: cover;    /* mantém proporção e preenche o espaço */
  border-radius: 10px;
}
