.menu-fixo-esquerda {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
}

.menu-icon {
  width: 30px;
  cursor: pointer;
}

.logo-central-topo {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.logo-topo {
  width: 50px;
}